body {
    background-color: #121212;
    color: white;
    font-family:'Inter', sans-serif;
}
.title {
    color: #1ED760;
    font-size: 2.5rem;
}
img {
    width: 150px;
}

.info-section h2 {
    font-size: 1.8 ram;
}

.info-section p {
    color: #282828;
}

.info-section ul {
    list-style: none;
}